* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif; 
}

body {
    background: #0f172a;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
top: 0;
width: 100%;
background: rgba(15, 23, 42, 0.9);
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #38bdf8;
}

.menu-btn {
    display: none;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 40px;
    background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-content h1 {
    font-size: 3rem;
    animation: fadeInUp 1s ease;
}

.hero-content p {
    margin: 15px 0;
    color: #cbd5f5;
}

.btn-primary {
    background: #38bdf8;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.1);
}

/*Sections */
section {
    padding: 80px 40px;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #020617;
    padding: 30px;
    border-radius: 20px;
    width: 280px;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(56, 189, 248, 0.4);
}

/* Services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    background: #020617;
    padding: 40px;
    border-radius: 15px;
    transition: 0.3s;
}

.service:hover {
    background: #38bdf8;
    color: black;
}

/* Contact */
.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: none;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #020617;
    padding: 20px;
    margin-top: 20px;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll Reveal */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .navbar nav {
        display: none;
    }

    .menu-btn {
        display: block;
        background: none;
        color: white;
        font-size: 1.5rem;
        border: none;
    }
}