.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 1rem 2rem;
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #f4511e;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #f4511e;
}



.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login-btn {
  background-color: #007bff;
}

.signup-btn {
  background-color: #28a745;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-buttons .btn {
  padding: 6px 14px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

