.product-card {
background: #fff;
padding: 12px;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
text-align: center;
transition: transform 0.2s;
}


.product-card:hover {
transform: translateY(-5px);
}


.product-card img {
width: 100%;
height: 180px;
object-fit: contain;
}


.price {
color: #2874F0;
font-weight: bold;
}


button {
width: 100%;
background: #2874F0;
color: white;
border: none;
padding: 8px;
border-radius: 4px;
cursor: pointer;
}