.main-section {
    display: flex;
    width  : 100%;
}

.bodysection {
    width: 100%;
}


.loader {
    width              : 40px;
    height             : 40px;
    border             : 4px solid #1f7ebf;
    border-bottom-color: transparent;
    border-radius      : 50%;
    display            : inline-block;
    box-sizing         : border-box;
    animation          : rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}